<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

	<div>
		<div id="content">	
			<input type="text" name="user_name" id="user_name">
			<textarea id="message_user">

			</textarea>
			<input type="button" name="btn_send_message" id="btn_send_message">
		</div>
		<div id="content">	

		</div>
	</div>


	<script type="text/javascript" charset="utf-8">

		$(document).ready(function(){
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			var btn = $('#btn_send_message');
			var mess = $('#message_user');
			var user_name = $('#user_name');

			socket.on('connect', function() {
				socket.emit('join', {})
			});

			btn.on('click', function(){
				console.log("Clicou")								
				socket.emit('send_msg', {name: user_name.val(), msg: mess.val()});
				mess.val('');
			})

			socket.on('response_event', function(response){
				console.log("Teste" + response)
				var content = $('#content');
				content.append(response.name+" : "+response.msg+"<br>")
			})

		});
	</script>
</body>
</html>